* {
  font-family: 'Poppins', 'Verdana', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --white: #efefef;
  --black: #050505;
}

button {
  cursor: pointer;
}

li {
  list-style: none;
}

input:focus {
  outline: 0;
}

a {
  text-decoration: none;
}
